{% extends 'base.html' %}
{% block body %}

<div class="content-wrapper">
	<section class="content-header">
		<h1>
			Add Item
			<small>Input</small>
	  	</h1>
	  	<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Add Item</a></li>
			<li class="active">Input</li>
	  	</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Add Item</h3>
					</div>
					<form class="form-horizontal" action="" method="POST">
						{% csrf_token %}
						<div class="box-body">
							<div class="form-group">
								<div class="col-sm-12">
									{{form.as_p}}
								</div>
							</div>
							<input type="submit" class="btn btn-primary" style="float:right;">
							<a href="{% url 'list' %}" style="float:right; margin-right:5px;"><button class="btn btn-danger" type="button">Cancle</button></a>
						</div>
					</form>
			</div>
		</div>
</div>
{% endblock %}