{% extends "base_user_auth.html"%}
{% block body %}
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Inventory</b>Admin</a>
    </div>
  <!-- /.login-logo -->
    <div class="login-box-msgbody">
        <p class="login-box-msg">Sign in with your account</p>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  <!-- /.login-box-body -->
</div>
{% endblock %}
