{% extends "base.html"%}
{% block body %}
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Inventory</b>Admin</a>
    </div>
  <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in with your account</p>

        <form action="{{ url_for('user.user_login') }}" method="POST">
            <div class="form-group has-feedback {% if f.username.errors %} has-error{% endif %}">
                <input type="text" name="{{f.username.id}}" class="form-control" placeholder="{{f.username.label.text}}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                {% if f.username.errors %}
                    <span class="help-text">
                        {% for error in f.username.errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                    </span>
                {% endif %}
            </div>
            <div class="form-group has-feedback {% if f.password.errors %} has-error {% endif %}">
                <input type="password" name="{{f.password.id}}" class="form-control" placeholder="{{f.password.label.text}}">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                {% if f.password.errors %}
                    <span class="help-text">
                        {% for error in f.password.errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                    </span>
                {% endif %}
            </div>
            <div class="row">
        <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
        <!-- /.col -->
            </div>
        </form>
       <!-- <a href="{{url_for('user.regist')}}" class="text-center">Register a new membership</a>-->
    </div>
  <!-- /.login-box-body -->
</div>
{% endblock %}
